<% provide(:title, @user.first_name) %>

<% if logged_in? %>

  <h1>
  <%= @user.first_name %>, <%= @user.last_name %>
  </h1>

  <%= @user.email %>

  <% if @user == current_user%>
  <br> <br>
  <%= link_to "Edit profile", edit_user_path %>
  <% end %>

<% else %>
  You need to be logged in to access this content. <br><br>
  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>     <%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %>

<% end %>
