<header class="navbar-fixed-top navbar-dark bg-dark">
  <div class="container">
    <%= link_to "Mon Club", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav">
        <% if logged_in? %>
          <li><%= link_to "Users", '#' %></li>
          <li><%= link_to "Profile", current_user %></li>
          <li> <%= link_to "Log out", logout_path, method: :delete %>  </li>
            </ul>
          </li>
        <% else %>
        <li><%= link_to "Sign up", signup_path %></li>
        <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
